/* element导航按钮右边框1px清除 */
.el-menu {
  border-right: none;
}

/* element表格字体重置 */
.el-table {
  font-size: .75rem;
}

/* 表格上方工具栏 */
.table-toolbar {
  margin-bottom: 12px;
}

.scroller {
  border: 1px solid #dcdfe6;
  margin-top: 5px;
  border-radius: 3px;
  max-height: 200px;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 5px 0;
}