/* element导航按钮右边框1px清除 */
.el-menu {
  border-right: none;
}

/* element表格字体重置 */
.el-table {
  font-size: .75rem;
}

/* 表头文字颜色及粗细 */
.el-table table thead .cell {
  color: #000;
  font-weight: 500;
}

.el-button--primary {
  background-color: #4165d7;
  border-color: #4165d7;
}

/* 头像上传 */ 
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  &.el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
    object-fit: cover;
  }
}

/* crud表单 */
.lite-crud {
  height: 100%;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  overflow: hidden;

  .table-toolbar {
    margin-bottom: 12px;
  }
}

.scroller {
  border: 1px solid #dcdfe6;
  margin-top: 5px;
  border-radius: 3px;
  max-height: 200px;
  box-sizing: border-box;
  overflow-x: hidden;
  padding: 5px 0;
}